.chat-header {
	height: 66px;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
	border-bottom: 1px solid #efefef;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;

	.chat-header-fullname {
		font-size: 20px;
		color: #7a7a7a;
		font-weight: 500;
	}

	.chat-header-username {
		color: #7a7a7a;
		font-weight: 500;
		font-size: 13px;
	}
}

.users-fullName {
	font-size: 20px;
}

.chat-timeline {
  	overflow-y: auto;
	padding: 15px;
	bottom: 50px;
	top: 66px;
	position: relative;
	width: 100%;
	height: 740px;
}

.chat-input {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 50px;
	height: 50px;
    overflow-y: auto;
    width: 100%;
    border-top-style: solid;
    border-top-color: #EDEDED;
    border-top-width: 1px;
}

.form {
    background: #fff;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font: 14px Helvetica, Arial;
    color: #000;
    clear: both;
}

.messages li{
    display: block;
    padding: 5px 10px;
    margin-left: 5px;
}

.messages li:nth-child(odd) {
    display: block;
    color: white;
    background: #164762;

}

.msgSender {
    font-family: "Helvetica";
    font-weight: bold;
    float: left;
}

.msgTimeStamp {
    float: right;
}

.bubble-left {
    line-height: 100%;
    display: block;
    position: relative;
    padding: .7em .7em;
    background-color: #F7F7F7;
    color:#7A7A7A;
    border-radius: 17px;
    margin-bottom: 2em;
    clear: both;
    min-width:50%;
    max-width:50%;
}

.bubble-right {
    line-height: 100%;
    display: block;
    position: relative;
    padding: .7em .7em;
    background-color: #164762;
    color: #FFFFFF;
    border-radius: 17px;
    margin-bottom: 2em;
    clear: both;
    min-width:50%;
    max-width:50%;
}

.bubble-left {
    float: left;
    margin-right:10%;
}

.bubble-right {
    float:right;
    margin-left:10%
}

.bubble-dialog {
    white-space: pre-line;
    line-height:0;
    width:100%;
}

.div-left {
    float:left;
    width:20%;
    height:100%;
    border: 2px solid grey;
    border-color: #EFEFEF;
    position: absolute;
    bottom: 0;

}
.div-right {
    float:right;
    width: 95%;
    padding-right:5px;
    position: absolute;
    bottom: 0;
    height: 10px;
}

.form .msg {
    border: 0;
    padding: 10px;
    width: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.form .msg:focus {
    outline: none;
}

.form .msg {
    border: 0;
    padding: 10px;
    width: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.form .msg:focus {
    outline: none;
}

.chat-input-icons {
	display: inline-block;
	float: right;
	margin-top: 8px;
    cursor: pointer;
}

.chat-input-icons-container {
	display: inline-block;
}

.chat-input-icons-container input {
	display: none;
}

.chat-input-icon {
	display: inline-block;
	margin-right: 15px;
}

.chat-camera {
	display: none;
	position: absolute;
	top: 66px;
	left: 0;
	right: 0;
	height: 200px;
	border-bottom: 1px solid #efefef;
	background: #f9f9f9;
}

.chat-camera img {
	vertical-align: top;
}

.chat-camera.active {
	display: block;
	text-align: center;
}

.chat-camera video {
	width: 265px;
}

.chat-camera canvas {
	height: 199px;
}

.chat-camera img {
	height: 199px;
}

.chat-timeline.camera-active {
	top: 266px;
}

.chat-camera-container {
	width: 265px;
	margin: 0 auto;
	padding: 0;
	height: 199px;
	position: relative;
}

#capture {
	position: absolute;
	color: white;
	font-size: 50px;
	top: 50%;
	right: 50%;
	width: 50px;
	margin: 40px -25px 0px 0;
	transition: all 200ms ease-in-out;
}

#capture:hover {
	transform: scale(1.15);
}

#capture:active#capture:hover {
	transform: scale(1.05);
}

#capture-remove {
	display: none;
	position: absolute;
	top: 7px;
	right: 10px;
	color: white;
	z-index: 60;
	font-size: 25px;
	transition: all 200ms ease-in-out;
}

#capture-remove:hover {
	transform: scale(1.15);
}

#capture-remove:active#capture-remove:hover {
	transform: scale(1.05);
}

#capture-upload {
	display: none;
	position: absolute;
	bottom: 7px;
	right: 10px;
	color: white;
	z-index: 60;
	font-size: 25px;
	transition: all 200ms ease-in-out;
}

#capture-upload:hover {
	transform: scale(1.15);
}

#capture-upload:active#capture-upload:hover {
	transform: scale(1.05);
}
