.header {
    width: 60px;
    background-color: $primary;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.logo-container {
    position: relative;
}

.logo {
    width: 20px;
    margin-left: 20px;
    margin-top: 15px;
}
