.login {
    background-image: url('/img/landing.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.login-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primary;
    opacity: 0.75;
    z-index: 0;
}

.login-overlay{
}

.login-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 500px;
    margin: -250px 0 0 -150px;
    color: #fff;
}

.login-form {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.login-brand-container {
    position: relative;
}

.login-logo {
    display: inline-block;
    margin-right: 15px;
}

.login-logo img {
    vertical-align: -12px;
    height: 80px;
}

.login-logo-name {
    display: inline-block;
    font-size: 72px;
}

.login-slogan {
    position: relative;
    display: block;
    font-size: 16px;
}

.login-actions-container {
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    color: #818181;
}

.login-actions-container hr {
    margin-top: 30px;
    border: 0;
    width: 265px;
    border-top: 2px solid #efefef;
    opacity: 0.65;
}

.login-actions {
}

.login-actions .btn {
    width: 125px;
    color: white;
    background: rgba(255,255,255,0.35);
    border: 2px solid #fff;
    border-radius: 10px;
}

.login-actions .btn:hover {
    background: rgba(255,255,255,0.7);
    color: #424242;
}

.loginForm{
    padding-top: 5%;
    padding-bottom: 5%;
}

.loginForm input{
    font-family: 'Roboto', sans-serif;
    font-size: inherit;
    line-height: inherit;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    border-color: grey;
    opacity:.65;
}

.loginForm button{
    width: 80%;
    border-radius: 10px;
    background-color:#164762;
    color:white;
}

.loginForm p{
    margin-top: 10px;
    margin-bottom: 3px;
    text-align: left;
    padding-left: 10%;
    font-weight:bold;
}

.login-actions-forgot-password{
    padding-bottom: 10%;
}

.login-actions-forgot-password a {
    color: grey;
    border-bottom:1px solid white;
    text-decoration: none;
}