#new-message-modal {
	display: none;
}

#new-message-modal.active {
	display: block;
}

.new-message-modal-overlay {
	position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.14902);
    z-index: 25;
}

#new-message-modal-container {
	width: 300px;
    height: 500px;
    left: 50%;
	top: 50%;
    z-index: 26;
    margin: -250px 0px 0px -150px;
    position: absolute;
    background: white;
    border: 1px solid rgb(239, 239, 239);
}

.new-message-modal-confirm {
    color: #196A96;
    position: relative;
    height: 300px;

}
