.sidebar-main {
    width: 300px;
    border: 1px solid $border;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.sidebar-info {
    width: 300px;
    border: 1px solid $border;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0; 
}
