.sidebar-info-main {
    width: 300px;
    border: 1px solid $border;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
	padding: 15px;
}

.sidebar-info-files {

}

.sidebar-info-people {

}

.sidebar-info-recent {
	
}