.sidebar-info-main {
    width: 300px;
    border: 1px solid $border;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.sidebar-info-people {
	width: 300px;
	position: relative;
	height: 200px;
	border-bottom: 1px solid $border;
	padding-left: 15px;
	padding-top: 10px;

}

.sidebar-info-files {
	width: 300px;
	position: relative;
	height: 300px;
	padding-top: 10px;
	padding-left: 15px;

}

.sidebar-info-addbutton {
	color: #196A96;
	position: static;
	float: right;
	padding-right: 15px;
}

.sidebar-info-inner{
	width: 250px;
	position: relative;
	height: 100px;
	padding-top: 15px;
	/*border-top: 1px solid $border; << This is just so I can see where the div begins*/
	overflow-y: auto;
}

.sidebar-info-fileiconaudio {
	position: absolute;
	vertical-align: left;
}

.sidebar-info-fileiconvideo {
	position: absolute;
	vertical-align: left;
}

.sidebar-info-fileicontext {
	position: absolute;
	vertical-align: left;
}