.sidebar-info-main {
    width: 300px;
    border: 1px solid $border;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.sidebar-info-people {
	width: 300px;
	position: relative;
	height: 200px;
	border-bottom: 1px solid $border;
	padding-left: 15px;
	padding-top: 10px;

}

.sidebar-info-people-header-name {
	display: inline-block;
	float: left;
	font-size: 16px;
    color: #7a7a7a;
    font-weight: 500;
}

.sidebar-info-people-header {
	clear: both;
}

.sidebar-info-people-add {
	display: inline-block;
	float: right;
}

.sidebar-info-files {
	width: 300px;
	position: relative;
	height: 300px;
	padding-top: 10px;
	padding-left: 15px;

}

.sidebar-info-files-header-name {
	display: inline-block;
	float: left;
	font-size: 16px;
    color: #7a7a7a;
    font-weight: 500;
}

.sidebar-info-file-upload {
	display: inline-block;
	float: right;
}

.sidebar-info-file-upload input {
	display: none;
}

.sidebar-info-plus-button {
	color: #196A96;
	position: static;
	float: right;
	padding-right: 15px;
	cursor: pointer;
}

.sidebar-info-plus-button:hover {
	color: #143D53;
}

.sidebar-info-files-header {
	clear: both;
}

.sidebar-info-inner{ /*This refers to the div I placed inside each section (People and Files) in order to format the content that goes in them.*/
	width: 250px;
	position: relative;
	height: auto;
	padding-top: 15px;
	/*border-top: 1px solid $border; << This is just so I can see where the div begins - ignore it.*/
	overflow-y: auto; /*Makes the inner div scrollable when content overflows.*/
}

/*Everything under here is used for the static representation for the files.
You will notice that these file icons are stacked on top of each other. I did not get
to finish this last sprint but you need to organize the layout so that each new file
will align vertically, one on top of the other, when a new file is added.*/

/*Also, you should work on getting the actual "+" button to be interactive.*/

.sidebar-info-fileicon {
	display: block;
	vertical-align: left;
	padding: 5px;
}
