.sidebar {
    margin-left:60px;
    width: 300px;
    border: 1px solid $border;
    background-color: white;
    color: white;
    box-shadow: 1px 70px 0px #e6e6e6;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: calc(100%);
    overflow: hidden;
    z-index: 1032;
}
