$primary: #164762;
$border: #efefef;
$light: #f7f7f7;

$red: #ec644b;
$green: #2ecc71;
$yellow: #f7ca18;
$purple: #9b59b6;
$orange: #f39c12;

$font-normal: #7a7a7a;
$font-dark: #424242;
$font-light: #8e8e8e;

