h1 {
  font-family: "Helvetica"; 
  font-style: bold;
  font-weight: 200;

}

.form {
    background: #ccc; 
    padding: 10px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
} 

.form .msg { 
    border: 0; 
    padding: 10px; 
    width: 50%; 
    margin-right: 5px; 
    margin-left: 55px; 
}

.form button { /*edited here for the button*/
   width: 50px;
    height: 30px;
    border: none; 
    padding: 10px; 
    background-image: url('https://ibin.co/3CYbXRFOLxbF.png');
    background-position:center;
    background-repeat: no-repeat;
    background-color: #164762;  
}

.messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;  
    font: 14px Helvetica, Arial; 
    color: #000;
    clear: both;
}

.messages li {
    display: block;
    padding: 5px 10px; 
    margin-left: 5px; 
}

.messages li:nth-child(odd) { 
    display: block;
    color: white;
    background: #164762; 
}

.msgSender { 
    font-family: "Helvetica"; 
    font-weight: bold; 
    float: left;
}

.msgTimeStamp {
    float: right;
}

.sidebar { /* Parent flex container that will hold contents of the sidebar. */
    display: flex; /* Flex containers can wrap, shrink, etc. if necessary. */
    flex-direction: column; /* Organizes inner flex containers into a column format. */
    position: absolute; 
    top: 0; bottom: 0; left: 0;
    width: 50px;
}
    
.div-left{
    float:left;
    width:25%;
    height:100%;
    background: #164762;
    padding-left:5px;
}
.div-right{
    float:right;
    width:70%;
    padding-right:5px;
}
.container{
    width:100%;
    clear:both;
}



/*Adding css properties to classes defined in index.js*/
