h1 {
  font-family: "Helvetica"; 
  font-style: bold;
  font-weight: 200;

}

.form {
    background: #ccc; 
    padding: 10px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
} 

.form .msg { 
    border: 0; 
    padding: 10px; 
    width: 80%; 
    margin-right: 5px; 
    margin-left: 55px; 
}

.form button { 
    background: #164762; 
    color: #fff; 
    border: none; 
    padding: 10px; 
}

.messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;  
    font: 14px Helvetica, Arial; 
    color: #0000FF;
}

.messages li { 
    padding: 5px 10px; 
    margin-left: 55px; 
}

.messages li:nth-child(odd) { 
    background: #164762; 
}

.msgSender { 
    font-family: "Helvetica"; 
    font-weight: bold; 
}

.sidebar { /* Parent flex container that will hold contents of the sidebar. */
    display: flex; /* Flex containers can wrap, shrink, etc. if necessary. */
    flex-direction: column; /* Organizes inner flex containers into a column format. */
    position: absolute; 
	top: 0; bottom: 0; left: 0;
	width: 50px;
	background: #164762;
}
/*Adding css properties to classes defined in index.js*/
